.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20%;
    background-color: blue;
    padding: 20px;
    color: white;
    text-align: center;
}
#start {
    margin-top: 20px;
    border-radius: 20px;
}
button {
    height: 50px;
    width: 200px;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
}
header {
    display: flex;
    justify-content: flex-end;
}
#timer {
    font-size: 22px;
    font-weight: bold;
    padding-right: 30px;
    font-family: sans-serif;
}
.choices {
    text-decoration: none;
}
#description {
    font-size: 20px;
    font-family: sans-serif;
}
.intro h2 {
    font-size: 40px;
    font-family: sans-serif;
}
input {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: sans-serif;
}
#submit {
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}